body {
    margin: 0;
    font-family: "Inter", system-ui, sans-serif;
    background: linear-gradient(
        120deg,
        #eef4ff 0%,
        #f7faff 35%,
        #f2fff8 70%,
        #ffffff 100%
    );
    color: #1f2937;
}
.bg-shapes {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.shape {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.35;
}

.shape-1 {
    width: 420px;
    height: 420px;
    background: #c7d9ff;
    top: 10%;
    left: -100px;
}

.shape-2 {
    width: 480px;
    height: 480px;
    background: #d8fff0;
    bottom: 10%;
    right: -120px;
}

.shape-3 {
    width: 380px;
    height: 380px;
    background: #ede7ff;
    top: 50%;
    left: 40%;
}
.page-content {
    padding: 48px 64px;
}
.form-wrapper {
    margin: auto;
    max-width: 820px;
    
    
}

.card-form {
    background: #ffffff;
    align-items: center;
    padding: 28px 32px;
    border-radius: 14px;
    height: 500px;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.06),
        0 2px 6px rgba(0, 0, 0, 0.04);
}
.page-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card-form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 16px;
}

.card-form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #374151;
}

.card-form input,
.card-form select {
    margin-top: 12px;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background: #fff;
}

.card-form input:focus,
.card-form select:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}
.btn-primary {
    margin-top: 12px;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: #2fb73e;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    background: #228115;
}