{% extends "base.html" %}
{% block title %}Expense Dashboard{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Dashboard</title>
    <link rel="stylesheet" href="{% static 'expenses/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'static/expenses/js/charts.js' %}">
    <link rel="stylesheet" href="{% static 'expenses/css/charts.css' %}">

</head>
<body>
<section class="hero">
    <div class="hero-text">
        <h1>Take Control<br>of Your Finances</h1>
        <p>
            Track your spending, manage your budget<br>
            Gain insights into your financial habits and make informed decisions.
        </p>

        <a href="{% url 'dashboard' %}" class="btn-primary">
            Go to Dashboard
        </a>
    </div>
     <div class="chart-card">
    <h3>Expense Breakdown</h3>
    <p class="sub-text">This month</p>

    <canvas id="expensePieChart"></canvas>
    </div>

    <script>
    window.pieLabels = {{ pie_labels|safe }};
    window.pieValues = {{ pie_values|safe }};
    </script>
</section>



<div class="dashboard">

    <!-- SUMMARY CARDS -->
    <section class="dashboard-cards">

    <!-- Total Expenses -->
    <div class="card">
        <h3>Total Expenses</h3>
        <div class="card-value">
            ₹ {{ total_spent }}
        </div>
        <p class="card-subtext">
            Overall spending till date
        </p>
    </div>

    <!-- This Month -->
    <div class="card">
        <h3>This Month</h3>
        <div class="card-value">
            ₹ {{ monthly_total }}
        </div>
        <p class="card-subtext">
            Spending in {{ current_month }}
        </p>
    </div>

    <!-- Total Entries -->
    <div class="card">
        <h3>Total Entries</h3>
        <div class="card-value">
            {{ expenses|length }}
        </div>
        <p class="card-subtext">
            Logged expenses
        </p>
    </div>



</section>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/charts.js' %}"></script>


{% endblock %}



