{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'expenses/css/expense_form.css' %}">
<div class="expense-card">
    <h2 class="page-title">
        {{ form.instance.pk|yesno:"Edit Expense,Add Expense" }}
    </h2>

    <form method="POST" class="expense-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label>Amount (₹)</label>
            {{ form.amount }}
        </div>

        <div class="form-group">
            <label>Category</label>
            {{ form.category }}
        </div>

    
        <div class="form-actions">
            <button type="submit" class="btn btn-save">
                Save
            </button>

            <a href="{% url 'dashboard' %}" class="btn btn-cancel">
                Cancel
            </a>
        </div>
    </form>
    

</div>

{% endblock %}
